* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    line-height: 1.25;
    color: #333;
}

header {
    height: 10vh;
    width: 100vw;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #62ffbe;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0.85em 1em;
    text-decoration: none;
}

main {
    flex-grow: 1;
    padding: 1.25em;
}

.grup {
    display: flex;
    gap: 2em;
}

.membre {
    flex: 1;
}

main ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: 2.5em;
}

main h3 {
    margin-top: 1.5em;
}

.taula-xarxes {
    border-collapse: collapse;
    width: 100%;
    margin-top: 1em;
}

.taula-xarxes th, .taula-xarxes td {
    border: 0.1em solid #ccc;
    padding: 0.5em;
    text-align: left;
}

footer {
    width: 100%;
    text-align: center;
    font-size: 0.9em;
    color: #000000;
    padding: 1.25em 0;
}